<h1>Welcome to Secret Number game</h1>

<p>TO play this game..<em>secret number</em>, you win!</p>

	<p>Choose carfully... you get only one chance</p>

	<h2>Pick a number</h2>

	<% (1..5).each do |number| %>
	<%= link_to image_tag("secret_numbers/#{number}.jpeg"), 
	secret_number_path(number)%>
	

	<% end %>