<h1>Welcome to the Game Centre!</h1>

<p>choose a game below to get started:</p>

<table>
	<tr>
		<td>
			<h4>Secret Number</h4>
			<%= image_tag("games/secret-number.jpg") %>
			
		</td>
		<td>
			<h4>Coming Soon!</h4>
		</td>
	</tr>

</table>